 .container {
     width: 100%;
     max-width: 355px;
     padding: 0px 20px;
     border: solid red;
     margin-left: auto;
     margin-right: auto;
 }

 /* секція header */

 .header {
     padding-top: 20px;
     padding-bottom: 14px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     background-color: #ffffff67;
     backdrop-filter: blur(7px);
     box-shadow: 0px 3px 50px 5px rgba(0, 0, 0, 0.74);
     z-index: 2;
 }

 .header-sublogo {
     font-style: italic;
     font-weight: 700;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.03em;
     color: var(--header-sublogo-color);
 }

 .header-list {
     display: none;
     gap: 24px;
     margin-left: 188px;
     margin-right: auto;
     align-items: center;
 }

 .header-contacts {
     display: none;
     gap: 18px;
 }

 .header-btn-menu {
     background-color: transparent;
     border: none;
     margin-left: auto;
 }

 .header-burger {
     width: 28px;
     height: 28px;
     fill: #111111;
     stroke: #111111;
 }

 /* секція hero */

 .hero {
     margin: 0px auto;
     padding-bottom: 72px;
 }

 .hero-container {
     background-image: linear-gradient(180deg, rgba(17, 17, 17, 0) 0%, rgba(17, 17, 17, 0.4) 100%), url(../img/hero_bg.webp);
     background-repeat: no-repeat;
     background-position: center;
     border-radius: 30px;
     background-size: 1300px;
     padding: 381px 20px 20px 20px;
     background-size: cover;
 }

 .hero-button {
     font-weight: 600;
     font-size: 14px;
     color: var(--button-text-color);
     /* padding: 12px 28px; */
     border-radius: 50px;
     background-color: transparent;
     border: 1px solid #fff;
     width: 120px;
     height: 41px;
     display: flex;
     align-items: center;
     justify-content: center;

 }

 .hero-box {
     display: block;

 }

 .hero-button:hover {
     border: 1px solid #FD9222;
     color: #FD9222;
     transition-duration: 1s;
 }

 .hero-svg {
     width: 22px;
     height: 22px;
     fill: #FD9222;
 }


 .hero-svg-wrapper {
     width: 28px;
     height: 28px;

     border-radius: 50%;
     background-color: #fff;

     display: flex;
     align-items: center;
     justify-content: center;
 }

 .buy {
     background-color: #FD9222;
     border: none;
 }

 .buy:hover {
     background-color: #fcf1e0;
     color: #FD9222;
     border: none;
     transition-duration: 1s;
 }

 .hero-title {
     font-weight: 500;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     margin-bottom: 32px;
     max-width: 295px;
 }

 .hero-list {
     display: flex;
     gap: 14px;
     margin-bottom: 32px;
 }

 .hero-scroll {
     display: flex;
     gap: 12px;
     margin-left: auto;
     align-items: center;
 }

 .hero-scroll:hover>.hero-text {
     color: #FD9222;
     transition-duration: 1s;
 }

 .hero-scroll:hover>.hero-svg-wrapper {
     background-color: #FD9222;
     transition-duration: 1s;
 }

 .hero-scroll:hover .hero-svg {
     fill: #FFFFFF;
     transition-duration: 1s;
 }


 .hero-text {
     font-size: 12px;
     line-height: 117%;
     letter-spacing: -0.03em;
     color: var(--text-color);
 }

 .hero-img {
     width: 38px;
     height: 38px;
 }

 /* секція benefits */

 .benefits {
     background-color: #1E1823;
     padding-top: 20px;
     padding-bottom: 20px;
 }

 .benefits-subtitle {
     font-weight: 600;
     font-size: 18px;
     color: var(--benefits-subtitle-color);
     margin-bottom: 18px;
 }

 .benefits-list {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .benefits-svg {
     fill: #FD9222;
     width: 62px;
     height: 62px;
     margin-bottom: 22px;

     border: 1px solid rgba(255, 255, 255, 0.5);
     border-radius: 365px;
     padding: 15px;
 }

 .benefits-text {
     color: rgba(255, 255, 255, 0.7);
     max-width: 308px;
 }

 /* секція product */

 .product {
     padding: 72px 0px 36px;
 }

 .product-subtext {
     color: var(--subtext-color);
 }

 .product-item {
     border-radius: 15px;
     width: 270px;
     height: 270px;
     padding: 28px 56px 0px 56px;

     position: relative;
 }

 .product-item:nth-child(1) {
     background-color: #FD9222;
 }

 .product-item:nth-child(3) {
     background-color: #1E1823;
 }


 .product-important {
     border: solid #FD9222;
 }

 .products {
     color: var(--product-color);
 }

 .product-subtitle {
     font-weight: 600;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     text-transform: uppercase;
     margin-top: 25px;
     margin-bottom: 28px;
 }

 .product-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-align: center;
     text-transform: uppercase;
     color: var(--title-color);

     max-width: 283px;
     margin-left: auto;
     margin-right: auto;
 }

 .product-text {
     text-align: center;
     max-width: 335px;
     margin: 24px auto 32px;
 }

 .product-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 19px;
 }

 .product-overlay {
     background-color: #FFFFFF;
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     opacity: 0;
     padding: 28px;
     border-radius: 14px;
     transition-duration: 1s;
 }

 .product-item:hover .product-overlay {
     opacity: 1;
     transition-duration: 1s;
     box-shadow: 1px 3px 15px 0px #000000;
 }

 .product-overlay-title {
     font-weight: 600;
     font-size: 18px;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     color: #111111;
     margin-bottom: 8px;
 }

 .product-overlay-list {
     display: flex;
     gap: 6px;
     margin-bottom: 14px;
 }

 .product-overlay-btn-1 {
     border-radius: 35px;
     padding: 6px 16px;
     width: 81px;
     height: 24px;
     background-color: #FD9222;
     border: none;

     font-weight: 400;
     font-size: 10px;
     line-height: 120%;
     color: #fff;
 }

 .overlay-btn-1 {
     width: 54px;
     height: 24px;
 }

 .overlay-btn {
     width: 114px;
     height: 24px;
     padding: 0;
 }

 .product-overlay-btn-2 {
     border: 1px solid #FD9222;
     border-radius: 35px;
     width: 93px;
     height: 24px;
     background-color: #FAFAFA;

     font-weight: 400;
     font-size: 10px;
     line-height: 120%;
     color: #111111;
 }

 .product-overlay-text {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #111111;
 }

 .product-overlay-text-2 {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #111111;
 }

 .product-overlay-text-3 {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #111111;
 }

 .product-overlay-text-4 {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     overflow: hidden;
     text-overflow: ellipsis;
     color: #111111;
 }

 /* секція how */

 .how {
     padding: 36px 0px 36px;
 }

 .how-pack {
     display: flex;
     flex-direction: column;
     gap: 20px;
 }

 .how-box {
     padding: 20px;
 }

 .how-subtitle {
     font-weight: 600;
     font-size: 18px;
     line-height: 133%;
     color: var(--how-subtitle-color);

     margin-bottom: 20px;
     max-width: 307px;

 }


 .how-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     text-align: center;
     color: var(--title-color);

     margin-bottom: 32px;
 }


 .how-list {
     display: flex;
     flex-direction: column;
     gap: 18px;
 }


 .how-subtext {
     color: var(--subtext-color);
 }

 /* секція chocolate */

 .chocolate {
     padding: 36px 0px 36px;
     padding-bottom: 173px;
 }

 .chocolate-list {
     display: flex;
     justify-content: center;
     gap: 18px;
 }

 .chocolate-item {
     border: 1px solid rgba(17, 17, 17, 0.1);
     border-radius: 15px;
     width: 100%;
     max-width: 335px;
     height: auto;

     background: var(--chocolate-item-color);
     padding: 32px 52px;
 }

 .chocolate-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     text-align: center;
     color: var(--chocolate-title-color);
     margin-bottom: 32px;
 }

 .chocolate-subtext {
     color: var(--subtext-color);
 }

 .chocolate-subtitle {
     font-weight: 600;
     font-size: 18px;
     line-height: 133%;
     letter-spacing: -0.02em;
     text-transform: uppercase;
     color: var(--chocolate-subtitle-color);

     text-align: center;
     margin-top: 8px;
 }

 .chocolate-button {
     font-weight: 600;
     font-size: 14px;
     color: var(--chocolate-button-color);

     border: 1px solid rgba(17, 17, 17, 0.1);
     border-radius: 100px;
     width: 94px;
     height: 33px;
     background: var(--chocolate-button-bg-color);

     display: block;
     margin: 0px auto;
 }

 .chocolate-text {
     font-weight: 400;
     font-size: 12px;
     line-height: 117%;
     letter-spacing: -0.02em;
     color: rgba(17, 17, 17, 0.7);

     text-align: center;
     margin-bottom: 18px;
 }

 .chocolate-hide {
     display: none;
 }

 .chocolate-importent {
     margin-left: auto;
     margin-right: auto;

 }

 /* секція sellers */

 .sellers {
     padding-top: 36px 0px 36px;
 }

 .sellers-container {
    position: relative;
 }

 .sellers-list {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 142px;
     margin-top: 32px;
     margin-bottom: 20px;
 }

 .sellers-hiden3 {
     display: none;
 }

 .sellers-subtext {
     color: var(--subtext-color);
 }

 .sellers-img {
     border-radius: 15px;
     max-width: 100%;
     height: auto;
 }

 .sellers-text {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     color: var(--sellers-text-color);

     max-width: 306px;
     position: absolute;
     bottom: 480px;
 }

 .sellers-button {
     font-weight: 600;
     font-size: 14px;
     color: var(--button-text-color);

     width: 120px;
     height: 41px;
     border-radius: 100px;
     background: var(--sellers-button-bg-color);

     margin-left: auto;
     border: none;
 }

 .sellers-button:hover {
     background-color: #fcf1e0;
     color: #FD9222;
     border: none;
     transition-duration: 1s;
 }

 .sellers-title {
     font-weight: 600;
     font-size: 24px;
     line-height: 117%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     text-align: center;
     color: var(--title-color);
 }

 /* секція loved */

 .loved {
     padding: 36px 0px 36px;
 }

 .loved-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     text-align: center;
     color: var(--title-color);
     margin-bottom: 74px;
 }

 .loved-subtitle {
     margin: 54px 0px 24px;
 }

 .loved-hiden2 {
     display: none;
 }

 .loved-hiden3 {
     display: none;
 }

 .loved-list {
     display: flex;
     margin: 74px 0px 65px;
 }

 .loved-item {
     border: 1px solid rgba(17, 17, 17, 0.1);
     border-radius: 15px;
     max-width: 335px;
     width: 100%;
     box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
     background: #fff;
     padding: 0px 18px 42px;
     position: relative;
     overflow: visible;
     height: 200px;
 }

 .loved-img {
     margin: 0px auto;
     display: block;
     position: absolute;
     top: -30%;
     right: 33%;
     width: 100%;
     max-width: 80px;
 }

 .loved-subtitle {
     text-align: center;
 }

 .loved-text {
     text-align: center;
     max-width: 299px;
 }

 .loved-subtext {
     color: var(--subtext-color);

 }

 .loved-button {
     font-weight: 600;
     font-size: 14px;
     color: var(--loved-button-txt-color);

     border: 1px solid var(--loved-button-bg-color);
     border-radius: 100px;
     padding: 12px 28px;
     width: 165px;
     height: 41px;
     display: block;
     margin: 0px auto;
     background-color: transparent;
 }

 .loved-button:hover {
     background-color: #FD9222;
     color: #FFFFFF;
     transition-duration: 1s;
 }

 /* секція explore  */

 .explore {
     padding: 36px 0px 31px;
     background-image: url(../img/explore-bg.webp);
     background-repeat: no-repeat;
     background-position: center;
     background-size: 100% 370px;
 }

 .explore-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     text-align: center;
     color: var(--explore-title-color);

     max-width: 291px;
     margin: 0px auto 24px;
 }

 .explore-text {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     text-align: center;
     color: var(--text-color);

     max-width: 326px;
     margin: 0px auto 24px;
 }

 .explore-button {
     font-weight: 600;
     font-size: 14px;
     color: var(--button-text-color);

     border-radius: 100px;
     padding: 12px 28px;
     width: 128px;
     height: 41px;
     background: var(--explore-button-bg-color);

     display: block;
     margin: 0px auto 0px;
     border: none;
 }

 .explore-button:hover {
     background-color: #FCF1E0;
     color: #FD9222;
     transition-duration: 1s;
 }

 /* секція footer */

 .footer {
     background-color: #1E1823;
     padding: 32px 0px 32px;
 }

 .footer-boxes {
     margin: 0px 0px 64px;
 }

 .footer-title {
     font-weight: 500;
     font-size: 24px;
     line-height: 117%;
     letter-spacing: -0.02em;
     color: var(--footer-title-color);
     max-width: 300px;
     margin-bottom: 32px;
 }

 .footer-masengers {
     display: flex;
     gap: 14px;
     margin-left: auto;
 }

 .footer-contact-subbox {
     display: flex;
     margin-left: auto;
 }

 /* .footer-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
} */

 .footer-subtext {
     color: var(--subtext-color);
 }

 .footer-link {
     font-size: 14px;
     line-height: 114%;
     letter-spacing: -0.02em;
     color: var(--footer-link-color);
 }

 .footer-link:hover {
     color: #FD9222;
     transition-duration: 1s;
 }

 .footer-subtitle {
     font-size: 14px;
     line-height: 129%;
     color: var(--footer-subtitle-color);

     margin-bottom: 14px;
 }

 .footer-link-contact {
     font-weight: 400;
     font-size: 14px;
     line-height: 129%;
     letter-spacing: -0.02em;
     text-align: center;
     color: var(--footer-link-contact-color);
 }

 .footer-list {
     display: flex;
     flex-direction: column;
     gap: 18px;
 }

 .footer-svg {
     width: 22px;
     height: 22px;
     fill: none;
     stroke: #FFFFFF;
 }

 .footer-svg:hover {
     stroke: #FD9222;
     transition-duration: 1s;
 }

 /* modal  */

 .backdrop {
     background-color: #0000007c;

     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;

     display: flex;
     align-items: center;
     justify-content: center;

     z-index: 2;
 }

 .is-hidden {
     opacity: 0;
     pointer-events: none;
 }

 .modal {
     background-color: #FAFBFF;
     width: 311px;
     max-width: 100%;
     max-height: calc(100vh - 40px);
     height: auto;
     padding: 32px 24px;
     position: relative;
     overflow: auto;
     border-radius: 15px;

 }

 .close {
     top: 14px;
     right: 14px;
     position: absolute;
     background-color: transparent;
     border: none;
 }

 .backdrop-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-align: center;
     text-transform: uppercase;
     color: #FD9222;
 }

 .backdrop-subtitle {
     color: #111111;
 }

 .list {
     display: flex;
     flex-direction: column;
     gap: 8px;
     margin-top: 32px;
     margin-bottom: 32px;
 }

 .item {
     display: flex;
     gap: 77px;
     padding: 8px 16px;
     border: 1px solid rgba(17, 17, 17, 0.1);
     border-radius: 15px;
     width: 100%;
     height: 85px
 }

 .pages {
     width: 84px;
 }

 .cost {
     border: 1px solid rgba(17, 17, 17, 0.1);
     border-radius: 100px;
     width: 70px;
     height: 29px;
     font-weight: 600;
     font-size: 14px;
     /* padding: 6px 16px; */
     margin: 20px auto 20px;
     display: block;
     background-color: #FAFAFA;
 }

 .form-list {
     display: flex;
     flex-direction: column;
     gap: 18px;
 }

 .form-subbox {
     display: flex;
     flex-direction: column;
     gap: 14px;
 }

 .lbl {
     font-weight: 500;
     font-size: 12px;
     line-height: 117%;
     letter-spacing: -0.02em;
     color: #000;
 }

 .inpt {
     width: 100%;

     border: 1.50px solid rgba(17, 17, 17, 0.05);
     border-radius: 8px;
     padding: 14px 18px;
     box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
     margin-top: 8px;

 }

 .biggest {
     height: 91px;
     padding: 14px 18px 60px 18px;
 }

 .submit {
     border-radius: 100px;
     padding: 12px 28px;
     width: auto;
     height: 41px;
     background-color: #FD9222;

     font-weight: 600;
     font-size: 14px;
     color: #fff;
     border: none;
     margin-top: 18px;
 }

 .submit:hover {
     background-color: #fcf1e0;
     color: #FD9222;
     transform: scale(1.25);
     transition-duration: 1500ms;
 }

 /* section second */
 .second-backdrop {
     background-color: #0000007c;

     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;

     display: flex;
     align-items: center;
     justify-content: center;

     z-index: 2;
 }

 .second-modal {
     background-color: #FAFBFF;
     border-radius: 15px;
     width: 311px;
     max-width: 100%;
     height: auto;
     padding: 32px 24px;
     position: relative;
 }

 .second-btn-close {
     background-color: transparent;
     position: absolute;
     top: 14px;
     right: 14px;
     border: none;
 }

 .second-svg {
     fill: #111111;
     stroke: #111111;
 }

 .second-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     color: #111111;
     max-width: 255px;
     margin-bottom: 32px;
 }

 .second-subtitle {
     color: #FD9222;
 }

 .second-list {
     display: flex;
     flex-direction: column;
     gap: 14px;
     margin-bottom: 18px;
 }

 .second-inpt {
     width: 100%;

     border: 1.50px solid rgba(17, 17, 17, 0.05);
     border-radius: 8px;
     padding: 13px 18px;
     box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
 }

 .second-send {
     border-radius: 100px;
     padding: 12px 28px;
     background-color: #FD9222;

     font-weight: 600;
     font-size: 14px;
     color: #fff;
     border: none;
 }

 /* section last */


 .last-backdrop {
     background-color: #0000007c;

     width: 100%;
     height: 100%;
     position: fixed;
     top: 0;
     left: 0;

     display: flex;
     align-items: center;
     justify-content: center;

     z-index: 2;
 }

 .last-modal {
     background-image: url(../img/bg-last-modal.webp);
     background-repeat: no-repeat;
     border-radius: 15px;
     width: 311px;
     max-width: 100%;
     position: relative;
     height: auto;
 }

 .last-btn-close {
     position: absolute;
     top: 15px;
     right: 15px;
     background-color: transparent;
     border: none;
 }

 .last-modal-box {
     border-bottom-right-radius: 15px;
     border-bottom-left-radius: 15px;
     background-color: #FFFFFF;
     margin-top: 169px;
     padding: 32px 24px;
     height: auto;
 }

 .last-subtitle {
     color: #FD9222;
 }

 .last-title {
     font-weight: 600;
     font-size: 20px;
     line-height: 120%;
     letter-spacing: -0.03em;
     text-transform: uppercase;
     color: #111111;
     max-width: 263px;
     margin-bottom: 24px;
 }

 .last-inpt {
     width: 100%;
     border: 1.50px solid rgba(17, 17, 17, 0.05);
     border-radius: 25px;
     padding: 13px 18px;

     font-weight: 400;
     font-size: 13px;
     letter-spacing: -0.02em;
     color: rgba(64, 64, 64, 0.3);
     box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
 }

 .last-subbox {
     display: flex;
 }

 .last-subscribe {
     border-radius: 100px;
     padding: 14px 28px;
     background-color: #FD9222;
     font-weight: 600;
     font-size: 14px;
     color: #fff;
     border: none;
 }

 .last-subscribe:hover {
     color: #FD9222;
     background-color: #fcf1e0;
     transform: scale(1.05);
     transition-duration: 1500ms;
 }

 .backdrop-menu {
     position: fixed;
     top: 0;
     z-index: 2;
 }

 .menu {
     width: 220px;
     height: auto;
     background-color: #1E1823;
     position: relative;
     padding: 136px 46px 300px 50px;

 }

 .menu-btn {
     background-color: transparent;
     border: none;
     position: absolute;
     top: 20px;
     right: 20px;
 }

 .menu-list {
     display: flex;
     flex-direction: column;
     gap: 24px;

 }

 .menu-link {
     font-weight: 500;
     font-size: 14px;
     line-height: 114%;
     letter-spacing: -0.02em;
     color: #fff;
 }

 .menu-link:hover {
     color: #FD9222;
     transform: scale(1.05);
     transition-duration: 1500ms;
 }

 .menu-masengers {
     display: flex;
     gap: 18px;
     position: absolute;
     bottom: 22px;
     left: 22px;
 }

 .menu-svg {
     fill: transparent;
     stroke: #FFFFFF;
     width: 22px;
     height: 22px;

 }

 .menu-svg:hover {
     stroke: #FD9222;
     transform: scale(1.05);
     transition-duration: 1500ms;
 }