@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0px 32px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-sublogo {
        font-size: 14px;
        line-height: 129%;
    }

    /* секція hero */

    .hero {
        margin: 0px auto;
        padding-bottom: 50px;

    }

    .hero-container {
        padding: 671px 40px 40px 40px;
    }

    .hero-button {
        padding: 14px 40px;

    }

    .hero-box {
        display: flex;

    }

    .hero-svg-wrapper {
        width: 38px;
        height: 38px;
    }

    .hero-title {
        font-size: 28px;
        line-height: 121%;
        max-width: 484px;
    }

    .hero-scroll {
        display: flex;
        gap: 14px;
        margin-left: auto;
        align-items: center;
    }

    /* секція benefits */

    .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .benefits-list {
        flex-wrap: wrap;
        gap: 32px;
        flex-direction: row;
    }

    /* секція product */

    .product {
        padding: 100px 0px 50px;
    }

    .product-title {
        font-size: 24px;
        line-height: 117%;
        max-width: 411px;
    }

    .product-text {
        text-align: center;
        max-width: 486px;
        margin: 28px auto 50px;
    }

    .product-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 19px;
    }

}