@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        padding: 0px 32px;
    }

    .header {
        padding-top: 24px;
        padding-bottom: 24px;
    }

    .header-sublogo {
        font-size: 14px;
        line-height: 129%;
    }

    /* секція hero */

    .hero {
        margin: 0px auto;
        padding-bottom: 50px;
    }

    .hero-container {
        padding: 671px 40px 40px 40px;
    }

    .hero-button {
        padding: 14px 40px;

    }

    .hero-box {
        display: flex;

    }

    .hero-svg-wrapper {
        width: 38px;
        height: 38px;
    }

    .hero-title {
        font-size: 28px;
        line-height: 121%;
        max-width: 484px;
    }

    .hero-scroll {
        display: flex;
        gap: 14px;
        margin-left: auto;
        align-items: center;
    }

    /* секція benefits */

    .benefits {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .benefits-list {
        flex-wrap: wrap;
        gap: 32px;
        flex-direction: row;
    }

    /* секція product */

    .product {
        padding: 100px 0px 50px;
    }

    .product-title {
        font-size: 24px;
        line-height: 117%;
        max-width: 411px;
    }

    .product-text {
        text-align: center;
        max-width: 486px;
        margin: 28px auto 50px;
    }

    .product-list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 19px;
    }

    /* секція how */

    .how {
        padding: 50px 0px 50px;
    }

    .how-box {
        padding: 32px;
    }

    .how-subtitle {
        margin-bottom: 28px;
        max-width: 350px;
    }


    .how-title {
        font-size: 24px;
        line-height: 117%;

        margin-bottom: 50px;
    }

    /* секція chocolate */

    .chocolate {
        padding: 50px 0px 50px;
        padding-bottom: 100px;
    }

    .chocolate-item {
        width: 270px;
        padding: 32px 20px;
    }

    .chocolate-title {
        font-size: 24px;
        line-height: 117%;
        margin-bottom: 50px;
    }

    /* секція sellers */

    .sellers {
        padding-top: 50px 0px 50px;
    }

    .sellers-list {
        display: flex;
        flex-direction: row;
        gap: 16px;
        margin-top: 50px;
        margin-bottom: 32px;
    }

    .sellers-box {
        display: flex;
    }

    .sellers-img {
        width: 344px;
    }

    .sellers-button {
        font-size: 18px;
        width: 162px;
        height: 50px;
    }

    .sellers-title {
        font-weight: 600;
        font-size: 24px;
        line-height: 117%;
        letter-spacing: -0.03em;
        text-transform: uppercase;
        text-align: center;
        color: var(--title-color);
    }

    /* секція loved */

    .loved {
        padding: 50px 0px 50px;
    }

    .loved-title {
        font-size: 24px;
        line-height: 117%;
        margin-bottom: 91px;
    }

    .loved-hiden2 {
        display: block;
    }

    .loved-list {
        display: flex;
        gap: 16px;
        margin: 49px 0px 94px;
    }

    .loved-item {
        width: 344px;
        padding: 0px 16px 42px;
    }

    .loved-img {
        top: -42px;
        right: 132px;
    }

    .loved-text {
        max-width: 312px;
    }

    .loved-button {
        font-weight: 600;
        font-size: 18px;
        padding: 14px 40px;
        width: 222px;
        height: 50px;
    }

    /* секція explore  */

    .explore {
        padding: 50px 0px 72px;
    }

    .explore-title {
        font-size: 24px;
        line-height: 117%;
        max-width: 378px;
    }

    .explore-text {
        max-width: 467px;

    }

    .explore-button {
        font-size: 18px;
        padding: 14px 40px;
        width: 172px;
        height: 50px;
    }

    /* секція footer */

    .footer {
        padding: 50px 0px 50px;
    }

    .footer-boxes {
        display: flex;
        margin: 0px 0px 50px;
    }

    .footer-title {
        font-size: 28px;
        line-height: 121%;
        margin-bottom: 0px;
    }

    .footer-masengers {
        gap: 18px;
        margin-left: 50px;
    }

    .footer-list {
        flex-direction: row;
        gap: 24px;
    }

    .footer-svg {
        width: 24px;
        height: 24px;

    }

    /* modal  */

    .modal {
        width: 609px;
        padding: 48px;

    }

    .close {
        top: 24px;
        right: 24px;
    }

    .backdrop-title {
        font-size: 24px;
        line-height: 117%;
    }

    .list {
        flex-direction: row;
        gap: 16px;
        margin-top: 32px;
        margin-bottom: 40px;
    }

    .item {
        display: block;
        padding: 24px 20px 18px 20px;
        width: 160px;
        height: 196px
    }

    .pages {
        width: 120px;
    }

    .cost {
        width: auto;
        padding: 8px 29px;
        margin: 14px auto 0px;
    }

    .form-subbox {
        gap: 21px;
    }

    .lbl {
        font-size: 14px;
        line-height: 129%;
    }

    .inpt {
        border-radius: 13px;
        padding: 22px 24px;
        box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.03);
    }
    .biggest {
    height: 137px;
    padding: 22px 24px 93px 24px;
}
.submit {
    padding: 14px 40px;
    width: 133px;
    height: 45px;
}
}