body {
    font-family: "Montserrat"
}

button {
    font-family: inherit;
}

/* загальні стилі */

.text {
    font-weight: 400;
    font-size: 14px;
}

.title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #fff;
}

.importent-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: #111111;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* секція header */

.header-sublogo {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: #111111;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #111111;
}

/* секція hero */

.hero-button {
    font-weight: 600;
    font-size: 14px;
    color: #fff;


}

.hero-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: #fff;
}

/* секція benefits */

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.benefits-text {}



.product-subtext {
    color: #FD9222;
}

/* секція product */


.product-item {
    border-radius: 15px;
    width: 270px;
    height: 270px;
}

.product-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
}

.product {
    color: #FFFFFF;
}

.product-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

/* секція how */

.how-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: #111111;
}

.how-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

.how-subtext {
    color: #FD9222;
}

/* секція chocolate */

.chocolate-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 270px;
    height: 364px;

    background: #fff;
}


.chocolate-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

.chocolate-subtext {
    color: #FD9222;
}

.chocolate-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #111111;
}

.chocolate-button {
    font-weight: 600;
    font-size: 14px;
    color: #111111;

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    width: 94px;
    height: 33px;
    background: #FFFFFF;
}

.chocolate-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

/* секція sellers */


.sellers-subtext {
    color: #FD9222;
}

.sellers-img {
    border-radius: 15px;
    width: 368px;
    height: 464px;
}

.sellers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: #111111;

}

.sellers-button {
    font-weight: 600;
    font-size: 18px;
    color: #fff;


    border-radius: 100px;
    width: 162px;
    height: 50px;
    background: #FD9222;
}

.sellers-title {
    font-weight: 600;
font-size: 24px;
line-height: 117%;
letter-spacing: -0.03em;
text-transform: uppercase;
text-align: center;
color: #111111;
}

/* секція loved */

.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #111111;
}

.loved-subtext {
    color: #FD9222;
}

.loved-button {
    font-weight: 600;
    font-size: 18px;
    color: #111111;
    border: 1px solid #FD9222;
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
}

/* секція explore  */

.explore-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.explore-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}

.explore-button {
    font-weight: 600;
    font-size: 18px;
    color: #fff;

    border-radius: 100px;
    padding: 14px 40px;
    width: 172px;
    height: 50px;
    background: #FD9222;
}

/* секція footer */

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer-subtext {
    color: #FD9222;
}


.footer-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: #fff;
}

.footer-subtitle {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: #fff;
}

.footer-link-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fff;
}