body {
    font-family: "Montserrat";
    font-weight: 500;

    background-color: #E2E2E2;
}

button {
    font-family: inherit;
}

.container {
    width: 1168px;
    padding: 0px 16px;
    border: solid red;
    margin-left: auto;
    margin-right: auto;
}

:root {
    --text-color: #fff;
    --title-color: #111111;
    --subtext-color: #FD9222;
    --button-text-color: #fff;
    --our-title-color: #fff;
    --our-text-color: #111111;
    --header-sublogo-color: #111111;
    --header-link-color: #111111;
    --benefits-subtitle-color: #fff;
    --product-subtitle-color: #111111;
    --product-color: #FFFFFF;
    --how-subtitle-color: #111111;
    --chocolate-item-color: #fff;
    --chocolate-title-color: #111111;
    --chocolate-subtitle-color: #111111;
    --chocolate-button-bg-color: #FFFFFF;
    --chocolate-button-color: #111111;
    --sellers-text-color: #111111;
    --sellers-button-bg-color: #FD9222;
    --loved-button-txt-color: #111111;
    --loved-button-bg-color: #FD9222;
    --explore-title-color: #fff;
    --explore-button-bg-color: #FD9222;
    --footer-title-color: #fff;
    --footer-link-color: #fff;
    --footer-subtitle-color: #fff;
    --footer-link-contact-color: #fff;
}

/* загальні стилі */

.text {
    font-weight: 400;
    font-size: 14px;
}

.title {
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: var(--our-title-color);
}

.importent-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--our-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* секція header */

.header {
    padding-top: 24px;
    padding-bottom: 32px;
}

.header-sublogo {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: var(--header-sublogo-color);
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-link {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--header-link-color);
}

.header-navigation {
    display: flex;
}

.header-list {
    display: flex;
    gap: 24px;
    margin-left: 188px;
    margin-right: auto;
    align-items: center;
}

.header-contacts {
    display: flex;
    gap: 18px;
}

/* секція hero */

.hero {
    padding-top: 381px;
    padding-bottom: 40px;
    background-color: #111111;
}

.hero-container {
    display: flex;
}

.hero-box {
    display: flex;

}

.hero-button {
    font-weight: 600;
    font-size: 14px;
    color: var(--button-text-color);
    padding: 14px 40px;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid #fff;
}

.buy {
    background-color: #FD9222;
    border: none;
}

.hero-img {
    width: 38px;
    height: 38px;
}

.hero-title {
    font-weight: 500;
    margin-bottom: 32px;
    letter-spacing: -0.03em;
    max-width: 484px;
}

.hero-list {
    display: flex;
    gap: 14px;
}

.hero-text {
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: var(--text-color);
}

.hero-scroll {
    display: flex;
    gap: 14px;
    margin-left: auto;
    align-items: center;
}


/* секція benefits */

.benefits {
    background-color: #1E1823;
    padding-top: 50px;
    padding-bottom: 50px;
}

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: var(--benefits-subtitle-color);
    margin-bottom: 18px;
}

.benefits-list {
    display: flex;
    gap: 70px;
}

.benefits-img {
    margin-bottom: 22px;
}

.benefits-text {
    color: rgba(255, 255, 255, 0.7);
    max-width: 308px;
}



.product-subtext {
    color: var(--subtext-color);
}

/* секція product */

.product {
    padding: 128px 0px 64px;
}

.product-item {
    border-radius: 15px;
    width: 270px;
    height: 270px;
    padding: 28px 36px 0px 28px;
}

.product-item:nth-child(1) {
    background-color: #FD9222;
}

.product-item:nth-child(3) {
    background-color: #1E1823;
}


.product-important {
    border: solid #FD9222;
}

.product-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--product-subtitle-color);
    margin-top: 36px;
    margin-bottom: 28px;
}

.products {
    color: var(--product-color);
}

.product-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);

    max-width: 411px;
    margin-left: auto;
    margin-right: auto;
}

.product-text {
    text-align: center;
    max-width: 486px;
    margin: 28px auto 50px;
}

.product-list {
    display: flex;
    gap: 19px;
}

/* секція how */

.how {
    padding: 64px 0px 64px;
}

.how-pack {
    display: flex;
    gap: 20px;
}

.how-box {
    padding: 32px;
}

.how-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: var(--how-subtitle-color);

    margin-bottom: 28px;
    margin-right: 102px;
}

.how-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);

    margin-bottom: 50px;
}

.how-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.how-subtext {
    color: var(--subtext-color);
}

/* секція chocolate */

.chocolate {
    padding: 64px 0px 64px;
    padding-bottom: 173px;
}

.chocolate-list {
    display: flex;
    gap: 18px;
}

.chocolate-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 270px;
    height: 364px;

    background: var(--chocolate-item-color);
    padding: 32px 20px;
}


.chocolate-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--chocolate-title-color);
    margin-bottom: 50px;
}

.chocolate-subtext {
    color: var(--subtext-color);
}

.chocolate-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--chocolate-subtitle-color);

    text-align: center;
    margin-top: 8px;
}

.chocolate-button {
    font-weight: 600;
    font-size: 14px;
    color: var(--chocolate-button-color);

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    width: 94px;
    height: 33px;
    background: var(--chocolate-button-bg-color);

    display: block;
    margin: 0px auto;
}

.chocolate-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);

    text-align: center;
    margin-bottom: 18px;
}

/* секція sellers */

.sellers {
    padding-top: 64px 0px 64px;
}

.sellers-list {
    display: flex;
    gap: 16px;
    margin-top: 50px;
    margin-bottom: 32px;
}

.sellers-box {
    display: flex;
}

.sellers-subtext {
    color: var(--subtext-color);
}

.sellers-img {
    border-radius: 15px;
    width: 368px;
    height: 464px;
}

.sellers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--sellers-text-color);

    max-width: 462px;
}

.sellers-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--button-text-color);

    width: 162px;
    height: 50px;
    border-radius: 100px;
    background: var(--sellers-button-bg-color);

    margin-left: auto;
}

.sellers-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

/* секція loved */

.loved {
    padding: 64px 0px 64px;
}

.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

.loved-subtitle {
    margin: 18px 0px 24px;
}

.loved-list {
    display: flex;
    gap: 28px;
    margin: 49px 0px 94px;
}

.loved-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 360px;
    height: 200px;
    box-shadow: 0 9px 27px 0 rgba(215, 228, 249, 0.25);
    background: #fff;
}

.loved-victoria {
    margin: 0px 140px;
}

.loved-nazar {
    margin: 0px 140px;
}

.loved-olena {
    margin: 0px 140px;
}

.loved-subtitle {
    text-align: center;
}

.loved-text {
    text-align: center;
}

.loved-subtext {
    color: var(--subtext-color);

}

.loved-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--loved-button-txt-color);

    border: 1px solid var(--loved-button-bg-color);
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;

    display: block;
    margin: 0px auto;
    background-color: transparent;
}

/* секція explore  */

.explore {
    padding: 64px 0px 72px;
    background-color: #111111;
}

.explore-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--explore-title-color);

    max-width: 372px;
    margin: 0px auto 24px;
}

.explore-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-color);

    max-width: 467px;
    margin: 0px auto 24px;
}

.explore-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--button-text-color);

    border-radius: 100px;
    padding: 14px 40px;
    width: 172px;
    height: 50px;
    background: var(--explore-button-bg-color);

    display: block;
    margin: 0px auto 0px;
}

/* секція footer */

.footer {
    background-color: #1E1823;
    padding: 50px 0px 50px;
}

.footer-boxes {
    display: flex;
    margin: 0px 0px 62px;
}

.footer-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: var(--footer-title-color);
    max-width: 300px;
}

.footer-masengers {
    display: flex;
    gap: 18px;
    margin-left: 63px;
}

.footer-contact-box {
    margin-left: auto;
}

.footer-list-contacts {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.footer-subtext {
    color: var(--subtext-color);
}


.footer-link {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--footer-link-color);
}

.footer-subtitle {
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--footer-subtitle-color);

    margin-bottom: 14px;
}

.footer-link-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--footer-link-contact-color);
}

.footer-list {
    display: flex;
    gap: 24px;
}