body {
    font-family: "Montserrat";
    font-weight: 500;
}

button {
    font-family: inherit;
}

:root {
    --text-color: #fff;
    --title-color: #111111;
    --subtext-color: #FD9222;
    --button-text-color: #fff;
    --our-title-color: #fff;
    --our-text-color: #111111;
    --header-sublogo-color: #111111;
    --header-link-color: #111111;
    --benefits-subtitle-color: #fff;
    --product-subtitle-color: #111111;
    --product-color: #FFFFFF;
    --how-subtitle-color: #111111;
    --chocolate-item-color: #fff;
    --chocolate-title-color: #fff;
    --chocolate-subtitle-color: #fff;
    --chocolate-button-bg-color: #FFFFFF;
    --chocolate-button-color: #111111;
    --sellers-text-color: #111111;
    --sellers-button-bg-color: #FD9222;
    --loved-button-txt-color: #111111;
    --loved-button-bg-color: #FD9222;
    --explore-title-color: #fff;
    --explore-button-bg-color: #FD9222;
    --footer-title-color: #fff;
    --footer-link-color: #fff;
    --footer-subtitle-color: #fff;
    --footer-link-contact-color: #fff;
}

/* загальні стилі */

.text {
    font-weight: 400;
    font-size: 14px;
}

.title {
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: var(--our-title-color);
}

.importent-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: -0.02em;
    color: var(--our-text-color);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* секція header */

.header-sublogo {
    font-style: italic;
    font-weight: 700;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.03em;
    color: var(--header-sublogo-color);
}

.header-link {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--header-link-color);
}

/* секція hero */

.hero-button {
    font-weight: 600;
    font-size: 14px;
    color: var(--button-text-color);


}

.hero-text {
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.03em;
    color: var(--text-color);
}

/* секція benefits */

.benefits-subtitle {
    font-weight: 600;
    font-size: 18px;
    color: var(--benefits-subtitle-color);
}

.benefits-text {}



.product-subtext {
    color: var(--subtext-color);
}

/* секція product */


.product-item {
    border-radius: 15px;
    width: 270px;
    height: 270px;
}

.product-subtitle {
    font-weight: 600;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--product-subtitle-color);
}

.product {
    color: var(--product-color);
}

.product-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

/* секція how */

.how-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    color: var(--how-subtitle-color);
}

.how-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

.how-subtext {
    color: var(--subtext-color);
}

/* секція chocolate */

.chocolate-item {
    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 15px;
    width: 270px;
    height: 364px;

    background: var(--chocolate-item-color);
}


.chocolate-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--chocolate-title-color);
}

.chocolate-subtext {
    color: var(--subtext-color);
}

.chocolate-subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 133%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--text-color);
}

.chocolate-button {
    font-weight: 600;
    font-size: 14px;
    color: var(--chocolate-button-color);

    border: 1px solid rgba(17, 17, 17, 0.1);
    border-radius: 100px;
    width: 94px;
    height: 33px;
    background: var(--chocolate-button-bg-color);
}

.chocolate-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.7);
}

/* секція sellers */


.sellers-subtext {
    color: var(--subtext-color);
}

.sellers-img {
    border-radius: 15px;
    width: 368px;
    height: 464px;
}

.sellers-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    color: var(--sellers-text-color);

}

.sellers-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--button-text-color);


    border-radius: 100px;
    width: 162px;
    height: 50px;
    background: var(--sellers-button-bg-color);
}

.sellers-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

/* секція loved */

.loved-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--title-color);
}

.loved-subtext {
    color: var(--subtext-color);
}

.loved-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--loved-button-txt-color);

    border: 1px solid var(--loved-button-bg-color);
    border-radius: 100px;
    padding: 14px 40px;
    width: 222px;
    height: 50px;
}

/* секція explore  */

.explore-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--explore-title-color);
}

.explore-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--text-color);
}

.explore-button {
    font-weight: 600;
    font-size: 18px;
    color: var(--button-text-color);

    border-radius: 100px;
    padding: 14px 40px;
    width: 172px;
    height: 50px;
    background: var(--explore-button-bg-color);
}

/* секція footer */

.footer-title {
    font-size: 28px;
    line-height: 121%;
    letter-spacing: -0.02em;
    color: var(--footer-title-color);
}

.footer-subtext {
    color: var(--subtext-color);
}


.footer-link {
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.02em;
    color: var(--footer-link-color);
}

.footer-subtitle {
    font-size: 14px;
    line-height: 129%;
    text-align: center;
    color: var(--footer-subtitle-color);
}

.footer-link-contact {
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.02em;
    text-align: center;
    color: var(--footer-link-contact-color);
}